h1 {
    text-align: center;
}
body{
    text-align: center;
    background-color: grey; 
}

#gridContainer {
    margin: 0 auto;
    width: 460px;
    height: 460px;
    display: grid;
    padding: 1px;
    justify-content: center;
    max-height: 460px;
    max-width: 460px;
    background-image: url(paper.jpg);
}

#buttonContainer {
    padding-top: 20px;
}


.box {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1px;
    font-size: 30px;
    text-align: center;
}

#title {
    border-bottom: 3px black solid;border-bottom: 3px black solid;
    font-family:  Times, serif;
}


button {
    background-color: #4CAF50; /* Green */
    border: 3px solid black;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    transition-duration: .5s;
    font-family:  Times, serif;
  }

button:hover{
    text-decoration: underline overline;
}